<!DOCTYPE html>
<html>
<body background="app/assets/images/background.jpg">
  <div>
	<h1>Mudanzas de Costa Rica</h1>
    <div class="login" id="login-box">
      <% if current_user %>
        <small>Ingresado como <strong><%= current_user.name %></strong>!</small>
        <%= link_to "Salir", signout_path, id: "sign_out" %>
        <%= button_to "Ver Perfil", profile_path, id: "profile" %>
      <% else %>
        <%= button_to "Ingresar con Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
  </div>
</body>
</html>
