<!DOCTYPE html>
<html>
<head>
  <small>Ingresado como <strong><%= current_user.name %></strong>!</small>
  <%= link_to "Salir", signout_path, id: "sign_out" %>
  <script src="app/assets/javascripts/user_profile.js"></script>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Perfil del Usuario</h1>
  <br>
  <center><p>Dale click al boton para solicitar convertirte en un transportista</p></center>
  <center>
    <button onclick="requestForCarrier()">Convertirme en Transportista</button>
  </center>
  <center>
    <form action="../auction/new" method="get">
      <button type="submit">Nueva Solicitud de Transporte</button>
    </form>
  </center>
  <footer>
    <p>Pernix Solutions - 2014</p>
  </footer>
</body>
</html>
