<!DOCTYPE html>
<html>
<head>
  <script src="app/assets/javascripts/user_profile.js"></script>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <center><p>Dale click al boton para solicitar convertirte en un transportista</p></center>
  </div>
  <center>
    <button onclick="requestForCarrier()">Convertirme en Transportista</button>
  </center>
  <center>
    <form action="../auctions/new" method="get">
      <button type="submit">Nueva Solicitud</button>
    </form>
  </center>
  <footer>
    <p>Pernix Solutions - 2014</p>
  </footer>
</body>
</html>
