<form action="credit-card-processing-script" method="post">
	<table>
		<tr>
			<td>Nombre:</td>
			<td><input type="text" name="First_Name"></td>
		</tr>
		<tr>
			<td>Apellido:</td>
			<td><input type="text" name="Last_Name"></td>
		</tr>
		<tr>
			<td>Numero de Tarjeta:</td>
			<td><input type="text" name="Card_Num"></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
			<small>#Definir como se manejara la fecha de vencimiento.</small></td>
		</tr>
		<tr>
			<td>Fecha de Vencimiento:</td>
			<td><input type="text" name="Exp_Date"></td>
		</tr>
		<tr></tr>
		<tr>
			<td colspan="2" align="center">
			<input type="submit" value="Verificar Pago">
			</td>
		</tr>
	</table>
</form>
<form action="validate-unique-code" method="post">
  <table>
    <tr>
      <td>Codigo:</td>
      <td><input type="text" name="Code"></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="submit" value="Verificar Codigo">
      </td>
    </tr>
  <table>
</form>
