<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <center><p>Dale click al boton para solicitar convertirte en un transportista</p></center>
  </div>
  <center>
  <form action="become-on-carrier" method="post">
    <table>
      <tr>
        <td colspan="2" align="center">
          <input type="submit" value="Convertirme en Transportista">
        </td>
      </tr>
    </table>
  </form>
  </center>
  <footer>
    <p>Pernix Solutions - 2014</p>
  </footer>
</body>
</html>
